body {
    background-color: rgba({{ ', '.join(background_colour) }});
    overflow: hidden;
    scroll-behavior: smooth;
}

.lyrics-box {
    margin: auto;
    width: 75%;
    padding-bottom: calc(50vh);
}

.lyrics-box p {
    color: rgba({{ ', '.join(text_colour) }});
    font-family: {{ font_style }};
    font-size: {{ font_size }};
    position: relative;
    padding-bottom: 0.5em;
}

.past-lyric {
    opacity: {{ past_opacity }};
}

.future-lyric {
    opacity: {{ future_opacity }};
}

::-webkit-scrollbar {
    display: none;
}
