body {
    background-color: rgba({{ ', '.join(background_colour) }});
    overflow: hidden;
    scroll-behavior: smooth;
    color: rgba({{ ', '.join(text_colour) }});
    padding-top: 1em;
}

.lyrics-box {
    margin: auto;
    width: 75%;
    padding-bottom: calc(50vh);
}

.lyrics-box p {
    font-family: {{ font_style }};
    font-size: {{ font_size }};
    position: relative;
    padding-bottom: 0.5em;
}

.past-lyric {
    opacity: {{ past_opacity }};
}

.future-lyric {
    opacity: {{ future_opacity }};
}

.notice {
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    width: fit-content;
    max-width: 80%;
    font-family: {{ font_style }};
    font-size: {{ font_size }};
    transform: translate(-50%, -50%);
}

::-webkit-scrollbar {
    display: none;
}
